.main-text {
  position: absolute;
  top: 50px;
  width: 96.66666666666666%;
  color: #fff;
}

.slide:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  min-width: 100vw;
}
